body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
}


.header-container {
    background-color: #1f2937;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}